/* @import url('https://fonts.googleapis.com/css?family=Quicksand'); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --color-dark-grey: #232931;
    --color-grey: #393e46;
    --color-white: #eeeeee;
    --color-green: #4ecca3;
    --color-orange: #f96d00;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    background: 
        linear-gradient(270deg, var(--color-grey), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, var(--color-white), rgba(0,255,0,0) 70.71%), 
        linear-gradient(336deg, var(--color-dark-grey), rgba(0,0,255,0) 70.71%);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.content {
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--color-dark-grey);
    /* background-color: rgba(199, 151, 61, 0.514); */
}

form > p {
    margin-bottom: 0;
    text-align: left;
}

label {
    display: inline-block;
    margin-top: 10px;
}

input,
select,
textarea {
    margin-top: 10px;
    border: none;
    /* border-radius: 5px; */
    border-bottom: 1px solid var(--color-dark-grey);
    background-color: transparent;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=radio],
input[type=checkbox] {
    /* display: float; ???? */
    /* opacity: 0;
    border: 1px solid var(--color-dark-grey); */
}

input[type=submit] {
    width: 100%;
    background-color: var(--color-green);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 2rem;
}