/* @import url('https://fonts.googleapis.com/css?family=Quicksand'); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --color-dark-grey: #232931;
    --color-grey: #393e46;
    --color-white: #eeeeee;
    --color-green: #4ecca3;
    --color-orange: #f96d00;
}

body {
    font-family: 'Varela Round', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    /* background-color: var(--color-white); */
    height: 1000px;
    max-width: 960px;
    margin: 0px auto 10px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header {
    background-color: var(--color-dark-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.0em;
    padding: 30px 10%;
    z-index: 999;
    border-radius: 10px 10px 10px 10px;
    position: sticky;
    top: 0;
}

header h1 {
    cursor: pointer;
    color: var(--color-white);
}

nav {
    /* height: 75px; */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    color: var(--color-white);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

nav a:hover {
    color: var(--color-green);
}

@media screen and (max-width: 720px) {
    header {
        flex-direction: column;
    }
    header h1 {
        margin-bottom: 0.5em;
    }
    nav li {
        display: block;
        padding: 0.5em;
    }
    
}